*.php text eol=lf
*.html text eol=lf
*.md text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.cs text eof=lf
*.cshtml text eof=lf
*.razor text eof=lf
.htaccess text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

*.sln text eol=crlf
